
.kolekcije{
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.kolekcije_box{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 5rem;
}

.kolekcije_box_box{
    border-radius: 10rem;
}

.kolekcije_box_box_img{
    border-radius: 5rem;
    margin-left: 3.5rem;
    margin-top: .5rem;
    transition: all .3s ease-in;
}

.kolekcije_box_box_img:hover{
    box-shadow: var(--box-shadow);
}

.kolekcije_box_box h2{
    text-align: center;
}

.kolekcije_box_box_image{
    background-color: var(--icons-color);
    border-radius: 5rem;
}

.kolekcije_box_box_info{
    background-color: var(--icons-color);
    border-radius: 5rem;
    width: 80%;
    margin-left: 4rem;
}

